{% extends 'twitter/base.html' %}

{% block content %}

<div class="content container">
    <div class="row">
        <div class="col-md-8">
          <h2>お気に入りのツイート</h2>

          <form action="" method="POST">{% csrf_token %}
              {% if tweet_list is null or tweet_list.count == 0 %}
                <p>お気に入りのツイートはありません。</p>
              {% else %}
                {% for tweet in tweet_list %}
                  <table class="tweet-table">
                    <tr>
                      <td><a class="tweet-user" href="{% url 'twitter:tweet_user' tweet.user.id %}">{{tweet.user.get_username}}</a></td>
                    </tr>
                    <tr>
                      <td>{{tweet.tweet_text}}</td>
                    </tr>
                    <tr>
                      <td align="right"><a class="favorite" href="{% url 'twitter:del_favorite' tweet.id %}">－お気に入り削除</a></td>
                    </tr>
                  </table>
                  <p class="tweet-time">{{tweet.created_time}}</p>
                  <br>
                {% endfor %}
              {% endif %}
          </form>
          <br>
        </div>
    </div>
</div>

{% endblock %}
