{% extends 'twitter/base.html' %}

{% block content %}

<div class="content container">
    <div class="row">
        <div class="col-md-8">
          <h2>{{other_user.get_username}} のツイート</h2>

          <form action="" method="POST">{% csrf_token %}
              {% if user.id == other_user.id %}
                  <h3>自分のツイートを表示しています。</h3>
              {% elif follow is True %}
                  <a href="{% url 'twitter:follow_deleted' other_user.id %}" class="follow-del-button">×フォローを解除</a>
                  <br><br>
              {% else %}
                  <a href="{% url 'twitter:followed' other_user.id %}" class="followed-button">✓フォローする</a>
                  <br><br>
              {% endif %}

              {% if tweet_list is null or tweet_list.count == 0 %}
                <p>表示できるツイートはありません。</p>
              {% else %}
                {% for tweet in tweet_list %}
                  <table class="tweet-table">
                    <tr>
                      <td><a class="tweet-user" href="{% url 'twitter:other_user' tweet.user.id %}">{{tweet.user.get_username}}</a></td>
                    </tr>
                    <tr>
                      <td>{{tweet.tweet_text}}</td>
                    </tr>
                    <tr>
                      <td align="right"><a class="favorite">＋お気に入り</a></td>
                    </tr>
                  </table>
                  <p class="tweet-time">{{tweet.created_time}}</p>
                  <br>
                {% endfor %}
              {% endif %}
          </form>
          <br>
        </div>
    </div>
</div>

{% endblock %}
